<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
    <label for="menu-icon"></label>
    <nav class="nav">
      <ul class="pt-5">
        <li><a href="/">Community</a></li>
        <li><a href=/blog/create/<%=username%> >Create a Blog</a></li>
        <li><a href=/profile/<%=username%> >Profile</a></li>
        <li><a href=/logout >Log out</a></li>
      </ul>
    </nav>
    <div class="section-center">
      <h1 class="mb-0 head">IITR_WRITES</h1>
    </div>
    <div id="tag_line">ALL THE WORDS YOU NEVER SAID</div>
    <div class="header">
      <div class="inner-header flex">
        <h2 id="test"><%=username%></h2>
      </div>
      <div>
        <svg
          class="waves"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28"
          preserveAspectRatio="none"
          shape-rendering="auto"
        >
          <defs>
            <path
              id="gentle-wave"
              d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
            />
          </defs>
          <g class="parallax">
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="0"
              fill="rgba(255,255,255,0.7)"
            />
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="3"
              fill="rgba(255,255,255,0.5)"
            />
          </g>
        </svg>
      </div>
    </div>
    <div class="container">
        <% blogs.forEach((e) => { %>
            <div class="card">
              <figure class="card__thumb">
                <img
                  src=/uploads/<%=e.display%>
                  alt="Picture for the blog"
                  class="card__image"
                />
                <figcaption class="card__caption">
                  <h2 class="card__title">
                    <%=e.title%>
                  </h2>
                  <p class="card__snippet">
                    <%=e.sub_title%>
                  </p>
                  <a href=/blog_page/?t=<%=e.title%>&w=<%=username%> class="card__button">Read more</a>
                  <a href=/profile/delete/?t=<%=e.title>%&w=<%=username%> class="card__button">Delete</a>
                  <a href=/blog/edit/?t=<%=e.title>%&w=<%=username%> class="card__button">Edit</a>
                </figcaption>
              </figure>
            </div>
        <% }) %>
    </div>
  </body>
</html>
